.container{
    width: 100%;
    margin: 0 auto;
    background: rgb(58, 57, 57);
    padding:10px 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar input{
    width: 300px;
    height: 25px;
    font-size: 17px;
    padding: 5px;
}
.search-btn{
    width: 100px;
    height: 37px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background: steelblue;
    cursor: pointer;
    border: 0;
}
.menu{
   display: flex;
}
.menu li {
    list-style: none;
    margin:10px 50px;
}
.menu a{
    text-decoration: none;
    color : rgb(201, 206, 201);
    font-size: 18px;
    font-weight: bold;
}